<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102838497274-vd268fc66hnj5tf06i5kub6dgeiq47i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102838497274-vd268fc66hnj5tf06i5kub6dgeiq47i8</string>
	<key>API_KEY</key>
	<string>AIzaSyCQIKPSlZ30EAtoVO7UeDB9YRFowmMMNwI</string>
	<key>GCM_SENDER_ID</key>
	<string>102838497274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSdev.batch29.SnipProject</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-e9702</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-e9702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102838497274:ios:807bc1621cfcb55822be43</string>
</dict>
</plist>